.country-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4px;
}
.visited{
    background-color: rgb(219, 32, 94);
    color: black;
}
.flag-container img {
    width: 100px;
}